@import url("https://fonts.googleapis.com/css2?family=Quando&display=swap");

/*Général*/
/*Taille Polices*/
.titre {
    font-family: "Quando", serif;
    overflow: hidden;
    text-align: center;
}

.titre:before,
.titre:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.titre:before {
    right: 0.5em;
    margin-left: -50%;
}

.titre:after {
    left: 0.5em;
    margin-right: -50%;
}

.t1 {
    font-size: 1.8rem;
}

.t2 {
    font-size: 1.5rem;
}

.texte {
    font-size: 0.95rem;
}

.small {
    font-size: 0.7rem;
    color: white;
}

/*Bouton réutilisable*/

.btn-chien {
    color: rgb(49, 44, 34);
    border-color: rgb(49, 44, 34);
    transition: 0.5s;
}

.btn-chien:hover,
.btn-chien:active {
    color: #e1ccac;
    background: rgb(49, 44, 34);
}

/*Autre*/

.separation {
    overflow: hidden;
    text-align: center;
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    right: 0.5em;
    margin-left: 25%;
    left: 0.5em;
    margin-right: 25%;
}

/* Barre de Navigation */

.mynavbar {
    background-color: rgb(189, 168, 137);
    font-family: "Quando", serif;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.mynavbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.2s ease-in-out, border-color 0.5s ease;
}

.mynavbar .nav-link:hover {
    padding-bottom: 13px;
    border-bottom-color: var(--bs-white);
}

.btn-contact {
    color: var(--bs-white);
    border-color: var(--bs-white);
    transition: 0.5s;
}

.btn-contact:hover,
.btn-contact:active {
    color: #e1ccac;
    background: var(--bs-white);
}

/*Fil d'Ariane */

.mybread {
    background-color: rgb(234, 219, 197);
    border-bottom: 1px solid;
    border-bottom-color: var(--bs-white);
}

.link {
    text-decoration: none;
    color: rgb(49, 44, 34);
}

.link:hover {
    color: rgb(49, 44, 34);
    text-decoration: underline;
}

/*Bloc 1 avec Image (Accueil, Contact)*/

.bloc1 {
    font-family: "quando", serif;
    background: linear-gradient(
            rgba(225, 204, 172, 0.7),
            rgba(102, 90, 71, 0.9)
        ),
        url(img/imgrottweiler.png) no-repeat right bottom fixed;
    background: cover;
    color: rgb(49, 44, 34);
    height: 700px;
    border-bottom: 5px solid;
    border-bottom-color: rgb(234, 219, 197);
}

/*Bloc 1bis Sans Image (chiens, event)*/

.bloc1bis {
    font-family: "quando", serif;
    background: linear-gradient(
        rgba(225, 204, 172, 0.7),
        rgba(102, 90, 71, 0.9)
    );
    color: rgb(49, 44, 34);
    border-bottom: 5px solid;
    border-bottom-color: rgb(234, 219, 197);
}

.blocevent {
    height: 1800px;
}

.blocchien {
    height: 1500px;
}
/*Bloc 2 (Accueil)*/

.bloc2 {
    font-family: "Quando", serif;
    color: rgb(49, 44, 34);
    background: linear-gradient(rgb(234, 219, 197), rgb(255, 255, 255) 90%);
}

.card {
    background: transparent;
}

/*Footer*/

.footer {
    background-color: rgb(156, 136, 105);
    font-family: "Quando", serif;
}

.foot-link {
    line-height: 1.7rem;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.foot-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.2s ease-in-out, border-color 0.5s ease;
}

.foot-link:hover {
    color: rgb(49, 44, 34);
    padding-bottom: 5px;
    border-bottom-color: rgb(49, 44, 34);
}
